*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    outline: 1px solid red;
    text-align: center;
    margin-top: 25px;
    background-color: #8fecf0;
}

.container{
    padding:10px;
}

