*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    outline: 1px solid red;
    text-align: center;
    margin-top: 25px;
    background-color: #8fecf0;
}

.container{
    padding:10px;
    margin-bottom: 25px;
}

input{
    border: none;
    padding:10px;
    width:50%;
    border-radius: 15px;
    box-shadow: 2px 2px 5px gray;
}

input:focus{
    border:5px solid rgb(37, 155, 163);
}

button{
    padding:5px;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 5px gray;
}

button:hover{
    cursor:pointer;
}

button:active{
    background-color: red;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr) );
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey base circle */
  border-top: 8px solid #3498db; /* Blue spinning arc */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card {
    background-color: white;
}

.card img {
    width:100%;
    border-radius: 15px;
}

.hidden {
    display: none;
}

p{
    color:red;
}